h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
}

table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}

table,
td,
th {
    border: 1px solid green
}

td,
th {
    padding: 10px
}